* {
    padding: 0;
    margin: 0;
}

#titleImage {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

#title {
    position: absolute;
    left: 30vw;
    z-index: 3;
    bottom: 0;
    font-size: 15vh;
    color: white;
    font-family: Clarendon;
}

#titleFrame {
    width: 100%;
    position: relative;
    top: 0;
    overflow: hidden;
    height: 100vh;
}

#contentContainer {
    display: flex;
    flex-direction: row;
}
.contentSubCont{
    display: flex;
    flex-direction: column;
}
.contributor{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    margin: 0 0 3px 0;
    padding: 2px;
}
.contributor .name {
    font-family: Sentinel;
}
.contributor .dates{
    font-family: Gotham, sans-serif;
    font-weight: bold;
    font-style: italic;
}
 .contributor .desc{
     font-family: Gotham, sans-serif;
 }
.contributor img{
    width: 33.3vw;
    height: auto;
}

/*#grid1, #grid3, #grid4, #grid5, #grid6, #grid7{*/
    /*flex-direction: column;*/
    /*width: 25vw;*/
    /*height: 50vw;*/
/*}*/

/*#grid2, #grid8{*/
    /*flex-direction: row;*/
    /*width: 50vw;*/
    /*height: 25vw;*/
/*}*/
/*#grid1{*/
    /*grid-column: 1;*/
    /*grid-row: 1 /3;*/
/*}*/
/*#grid3{*/
    /*grid-column: 4;*/
    /*grid-row: 1 / 3;*/

/*}*/
/*#grid4{*/
    /*grid-column: 2;*/
    /*grid-row-start: 2;*/
    /*grid-row-end: 3;*/
/*}*/
/*#grid5{*/
    /*grid-column: 3;*/
    /*grid-row-start: 2;*/
    /*grid-row-end: 3;*/
/*}*/
/*#grid6{*/
    /*grid-column: 1;*/
    /*grid-row-start: 3;*/
    /*grid-row-end: 4;*/
/*}*/
/*#grid7{*/
    /*grid-column: 4;*/
    /*grid-row-start: 3;*/
    /*grid-row-end: 4;*/
/*}*/
/*#grid2{*/
    /*grid-row: 1;*/
    /*grid-column-start: 2;*/
    /*grid-column-end: 3;*/
/*}*/
/*#grid8{*/
    /*grid-row: 4;*/
    /*grid-column-start: 2;*/
    /*grid-column-end: 3;*/
/*}*/